<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
    <add key="username" value="" />
    <add key="password" value="" />
    <add key="host" value="https://synology-disk-station" />
    <!-- add key="proxy" value="http://127.0.0.1:8123" /-->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>
